#header-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 2;

  #logo-out {
    width: 3rem;
    animation: rotate-logo ease-in-out 20s infinite alternate;
  }

  h1 {
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    margin-left: 0.5em;
  }
}

#header-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 5rem;
  border-right: solid 1rem white;
  padding-right: 2rem;

  #header-name {
    font-weight: 300;
    text-align: right;
    color: white;
    font-size: 7rem;
    margin-bottom: 2rem;
  }

  #header-description {
    text-align: right;
    color: white;
    font-weight: 300;
    opacity: 0.8;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    line-height: 1.4em;
  }
}

.header-universal {
  width: 60%;
}

@keyframes rotate-logo {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(120deg);
  }
  66% {
    transform: rotate(240deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
